
    <p>Showing 8 offers</p>
    
      <article class="offer" id="offer1">
<h3>
  
    <a href="https://www.link.com" rel="external">Accessibility Fundamentals: Disabilities and Guidelines</a>
  
   <span>by Provider 1</span>
</h3>
<p>This course provides an overview of web accessibility for both technical and non-technical audiences.</p>
<details>
  <summary><h4>Details<span class="visuallyhidden"> for Accessibility Fundamentals: Disabilities and Guidelines</span></h4></summary>
  <div class="offer__features">
    <dl>
        <dt>Offer type</dt>
        <dd>Professional</dd>
        <dt>Degree of certification</dt>
        <dd>None</dd>
        <dt>Prerequisites</dt>
        <dd>None</dd>
        <dt>Target role</dt>
        <dd>Developer</dd>
        <dt>Level</dt>
        <dd>Basic</dd>
        <dt>WAI Curricula correspondence</dt>
        <dd>Getting Started with accessibility</dd>
        <dt>Keywords/Topics</dt>
        <dd>Disabilities, Guidelines</dd>
        <dt>Language</dt>
        <dd>English</dd>
        <dt>Country</dt>
        <dd>USA</dd>
        <dt>Format</dt>
        <dd>Online</dd>
        <dt>Platform</dt>
        <dd>-</dd>
        <dt>Cost</dt>
        <dd>for fee</dd>
        <dt>Duration</dt>
        <dd>90 minutes</dd>
        <dt>Link to offer page</dt>
        <dd>https://www.link.com</dd>
        <dt>Link to offer reviews page</dt>
        <dd>https://www.link.com/reviews</dd>
        <dt>Date of last information update</dt>
        <dd>12-01-2021</dd>
        <dt>Date of last update to course contents</dt>
        <dd>31-08-2020</dd>
      </dl>
  </div>
</details>
</article>

    
      <article class="offer" id="offer2">
<h3>
  
    <a href="https://www.link.com" rel="external">Screen reader Testing</a>
  
   <span>by Provider 2</span>
</h3>
<p>An overview of screen reader testing techniques for informational websites and complex web applications</p>
<details>
  <summary><h4>Details<span class="visuallyhidden"> for Screen reader Testing</span></h4></summary>
  <div class="offer__features">
    <dl>
        <dt>Offer type</dt>
        <dd>Professional</dd>
        <dt>Degree of certification</dt>
        <dd>None</dd>
        <dt>Prerequisites</dt>
        <dd>None</dd>
        <dt>Target role</dt>
        <dd>Tester</dd>
        <dt>Level</dt>
        <dd>Basic</dd>
        <dt>WAI Curricula correspondence</dt>
        <dd>-</dd>
        <dt>Keywords/Topics</dt>
        <dd>Testing, Screen reader</dd>
        <dt>Language</dt>
        <dd>English</dd>
        <dt>Country</dt>
        <dd>USA</dd>
        <dt>Format</dt>
        <dd>online</dd>
        <dt>Platform</dt>
        <dd>MOOC</dd>
        <dt>Cost</dt>
        <dd>For fee</dd>
        <dt>Duration</dt>
        <dd>-</dd>
        <dt>Link to offer page</dt>
        <dd>https://www.link.com</dd>
        <dt>Link to offer reviews page</dt>
        <dd>https://www.link.com/reviews</dd>
        <dt>Date of last information update</dt>
        <dd>12-01-2021</dd>
        <dt>Date of last update to course contents</dt>
        <dd>31-08-2020</dd>
      </dl>
  </div>
</details>
</article>

    
      <article class="offer" id="offer3">
<h3>
  
    <a href="https://www.link.com" rel="external">Accessibility Fundamentals: Disabilities and Guidelines</a>
  
   <span>by Provider 3</span>
</h3>
<p>This course provides an overview of web accessibility for both technical and non-technical audiences.</p>
<details>
  <summary><h4>Details<span class="visuallyhidden"> for Accessibility Fundamentals: Disabilities and Guidelines</span></h4></summary>
  <div class="offer__features">
    <dl>
        <dt>Offer type</dt>
        <dd>Professional</dd>
        <dt>Degree of certification</dt>
        <dd>None</dd>
        <dt>Prerequisites</dt>
        <dd>None</dd>
        <dt>Target role</dt>
        <dd>Developer</dd>
        <dt>Level</dt>
        <dd>Basic</dd>
        <dt>WAI Curricula correspondence</dt>
        <dd>Getting Started with accessibility</dd>
        <dt>Keywords/Topics</dt>
        <dd>Disabilities, Guidelines</dd>
        <dt>Language</dt>
        <dd>English</dd>
        <dt>Country</dt>
        <dd>USA</dd>
        <dt>Format</dt>
        <dd>Online</dd>
        <dt>Platform</dt>
        <dd>-</dd>
        <dt>Cost</dt>
        <dd>for fee</dd>
        <dt>Duration</dt>
        <dd>90 minutes</dd>
        <dt>Link to offer page</dt>
        <dd>https://www.link.com</dd>
        <dt>Link to offer reviews page</dt>
        <dd>https://www.link.com/reviews</dd>
        <dt>Date of last information update</dt>
        <dd>12-01-2021</dd>
        <dt>Date of last update to course contents</dt>
        <dd>31-08-2020</dd>
      </dl>
  </div>
</details>
</article>

    
      <article class="offer" id="offer4">
<h3>
  
    <a href="https://www.link.com" rel="external">Screen reader Testing</a>
  
   <span>by Provider 4</span>
</h3>
<p>An overview of screen reader testing techniques for informational websites and complex web applications</p>
<details>
  <summary><h4>Details<span class="visuallyhidden"> for Screen reader Testing</span></h4></summary>
  <div class="offer__features">
    <dl>
        <dt>Offer type</dt>
        <dd>Professional</dd>
        <dt>Degree of certification</dt>
        <dd>None</dd>
        <dt>Prerequisites</dt>
        <dd>None</dd>
        <dt>Target role</dt>
        <dd>Tester</dd>
        <dt>Level</dt>
        <dd>Basic</dd>
        <dt>WAI Curricula correspondence</dt>
        <dd>-</dd>
        <dt>Keywords/Topics</dt>
        <dd>Testing, Screen reader</dd>
        <dt>Language</dt>
        <dd>English</dd>
        <dt>Country</dt>
        <dd>USA</dd>
        <dt>Format</dt>
        <dd>online</dd>
        <dt>Platform</dt>
        <dd>MOOC</dd>
        <dt>Cost</dt>
        <dd>For fee</dd>
        <dt>Duration</dt>
        <dd>-</dd>
        <dt>Link to offer page</dt>
        <dd>https://www.link.com</dd>
        <dt>Link to offer reviews page</dt>
        <dd>https://www.link.com/reviews</dd>
        <dt>Date of last information update</dt>
        <dd>12-01-2021</dd>
        <dt>Date of last update to course contents</dt>
        <dd>31-08-2020</dd>
      </dl>
  </div>
</details>
</article>

    
      <article class="offer" id="offer5">
<h3>
  
    <a href="https://www.link.com" rel="external">Accessibility Fundamentals: Disabilities and Guidelines</a>
  
   <span>by Provider 5</span>
</h3>
<p>This course provides an overview of web accessibility for both technical and non-technical audiences.</p>
<details>
  <summary><h4>Details<span class="visuallyhidden"> for Accessibility Fundamentals: Disabilities and Guidelines</span></h4></summary>
  <div class="offer__features">
    <dl>
        <dt>Offer type</dt>
        <dd>Professional</dd>
        <dt>Degree of certification</dt>
        <dd>None</dd>
        <dt>Prerequisites</dt>
        <dd>None</dd>
        <dt>Target role</dt>
        <dd>Developer</dd>
        <dt>Level</dt>
        <dd>Basic</dd>
        <dt>WAI Curricula correspondence</dt>
        <dd>Getting Started with accessibility</dd>
        <dt>Keywords/Topics</dt>
        <dd>Disabilities, Guidelines</dd>
        <dt>Language</dt>
        <dd>English</dd>
        <dt>Country</dt>
        <dd>USA</dd>
        <dt>Format</dt>
        <dd>Online</dd>
        <dt>Platform</dt>
        <dd>-</dd>
        <dt>Cost</dt>
        <dd>for fee</dd>
        <dt>Duration</dt>
        <dd>90 minutes</dd>
        <dt>Link to offer page</dt>
        <dd>https://www.link.com</dd>
        <dt>Link to offer reviews page</dt>
        <dd>https://www.link.com/reviews</dd>
        <dt>Date of last information update</dt>
        <dd>12-01-2021</dd>
        <dt>Date of last update to course contents</dt>
        <dd>31-08-2020</dd>
      </dl>
  </div>
</details>
</article>

    
      <article class="offer" id="offer6">
<h3>
  
    <a href="https://www.link.com" rel="external">Screen reader Testing</a>
  
   <span>by Provider 6</span>
</h3>
<p>An overview of screen reader testing techniques for informational websites and complex web applications</p>
<details>
  <summary><h4>Details<span class="visuallyhidden"> for Screen reader Testing</span></h4></summary>
  <div class="offer__features">
    <dl>
        <dt>Offer type</dt>
        <dd>Professional</dd>
        <dt>Degree of certification</dt>
        <dd>None</dd>
        <dt>Prerequisites</dt>
        <dd>None</dd>
        <dt>Target role</dt>
        <dd>Tester</dd>
        <dt>Level</dt>
        <dd>Basic</dd>
        <dt>WAI Curricula correspondence</dt>
        <dd>-</dd>
        <dt>Keywords/Topics</dt>
        <dd>Testing, Screen reader</dd>
        <dt>Language</dt>
        <dd>English</dd>
        <dt>Country</dt>
        <dd>USA</dd>
        <dt>Format</dt>
        <dd>online</dd>
        <dt>Platform</dt>
        <dd>MOOC</dd>
        <dt>Cost</dt>
        <dd>For fee</dd>
        <dt>Duration</dt>
        <dd>-</dd>
        <dt>Link to offer page</dt>
        <dd>https://www.link.com</dd>
        <dt>Link to offer reviews page</dt>
        <dd>https://www.link.com/reviews</dd>
        <dt>Date of last information update</dt>
        <dd>12-01-2021</dd>
        <dt>Date of last update to course contents</dt>
        <dd>31-08-2020</dd>
      </dl>
  </div>
</details>
</article>

    
      <article class="offer" id="offer7">
<h3>
  
    <a href="https://www.link.com" rel="external">Accessibility Fundamentals: Disabilities and Guidelines</a>
  
   <span>by Provider 7</span>
</h3>
<p>This course provides an overview of web accessibility for both technical and non-technical audiences.</p>
<details>
  <summary><h4>Details<span class="visuallyhidden"> for Accessibility Fundamentals: Disabilities and Guidelines</span></h4></summary>
  <div class="offer__features">
    <dl>
        <dt>Offer type</dt>
        <dd>Professional</dd>
        <dt>Degree of certification</dt>
        <dd>None</dd>
        <dt>Prerequisites</dt>
        <dd>None</dd>
        <dt>Target role</dt>
        <dd>Developer</dd>
        <dt>Level</dt>
        <dd>Basic</dd>
        <dt>WAI Curricula correspondence</dt>
        <dd>Getting Started with accessibility</dd>
        <dt>Keywords/Topics</dt>
        <dd>Disabilities, Guidelines</dd>
        <dt>Language</dt>
        <dd>English</dd>
        <dt>Country</dt>
        <dd>USA</dd>
        <dt>Format</dt>
        <dd>Online</dd>
        <dt>Platform</dt>
        <dd>-</dd>
        <dt>Cost</dt>
        <dd>for fee</dd>
        <dt>Duration</dt>
        <dd>90 minutes</dd>
        <dt>Link to offer page</dt>
        <dd>https://www.link.com</dd>
        <dt>Link to offer reviews page</dt>
        <dd>https://www.link.com/reviews</dd>
        <dt>Date of last information update</dt>
        <dd>12-01-2021</dd>
        <dt>Date of last update to course contents</dt>
        <dd>31-08-2020</dd>
      </dl>
  </div>
</details>
</article>

    
      <article class="offer" id="offer8">
<h3>
  
    <a href="https://www.link.com" rel="external">Screen reader Testing</a>
  
   <span>by Provider 8</span>
</h3>
<p>An overview of screen reader testing techniques for informational websites and complex web applications</p>
<details>
  <summary><h4>Details<span class="visuallyhidden"> for Screen reader Testing</span></h4></summary>
  <div class="offer__features">
    <dl>
        <dt>Offer type</dt>
        <dd>Professional</dd>
        <dt>Degree of certification</dt>
        <dd>None</dd>
        <dt>Prerequisites</dt>
        <dd>None</dd>
        <dt>Target role</dt>
        <dd>Tester</dd>
        <dt>Level</dt>
        <dd>Basic</dd>
        <dt>WAI Curricula correspondence</dt>
        <dd>-</dd>
        <dt>Keywords/Topics</dt>
        <dd>Testing, Screen reader</dd>
        <dt>Language</dt>
        <dd>English</dd>
        <dt>Country</dt>
        <dd>USA</dd>
        <dt>Format</dt>
        <dd>online</dd>
        <dt>Platform</dt>
        <dd>MOOC</dd>
        <dt>Cost</dt>
        <dd>For fee</dd>
        <dt>Duration</dt>
        <dd>-</dd>
        <dt>Link to offer page</dt>
        <dd>https://www.link.com</dd>
        <dt>Link to offer reviews page</dt>
        <dd>https://www.link.com/reviews</dd>
        <dt>Date of last information update</dt>
        <dd>12-01-2021</dd>
        <dt>Date of last update to course contents</dt>
        <dd>31-08-2020</dd>
      </dl>
  </div>
</details>
</article>

    