{% capture offer_title %}
<a href="{{ offer.offer_link }}">{{ offer.name }}</a> by {{ offer.provider }}
{% endcapture %}


{% include box.html type="start" title=offer_title id=offer.id%}
{{ offer.description }}
{% include box.html type="end" %}

{% include excol.html type="start" %}

### Details

{% include excol.html type="middle" %}

Content of the expand/collapse.

{% include excol.html type="end" %}