main>header {
  grid-column: 2 / 9;
}

#left-col{
  grid-column: 2/4;
}

main>header p:first-child {
  margin-top: 0;
  font-size: 125%;
}

details dt::after {
  content: ":";
}

details dt {
  float: left;
  clear: left;
  margin: 0 0.5em 0 !important;
}

details dt, dd {
  margin-bottom: 0.5em !important;
}

details div {
  margin-left: -32px;
  padding: 8px 16px;
  /* background-color: var(--off-white);
  border: solid 1px var(--line-grey); */
}