
@media (min-width: 40em) {
  main {
    display: contents;
  }
}

main>header {
  grid-column: 1 / 10;
}

.main p:first-child {
  grid-column: 2/9;
}


@media ( min-width: 72em) {
  main>header {
    grid-column: 2 / 9;
  }
}

.box {
  grid-column: 1 / 9;
}



#left-col h2 {
  margin: 20px 0 20px;
}


details dt::after {
  content: ":";
}

details dt {
  float: left;
  clear: left;
  margin: 0 0.5em 0 !important;
}

details dt, dd {
  margin-bottom: 0.5em !important;
}

details div {
  margin-left: -32px;
  padding: 8px 16px;
  /* background-color: var(--off-white);
  border: solid 1px var(--line-grey); */
}