details dt::after {
  content: ":";
}

details dt {
  float: left;
  clear: left;
  margin: 0 0.5em 0 !important;
}

details dt, dd {
  margin-bottom: 0.5em !important;
}

details div {
  margin-left: -32px;
  padding: 8px 16px;
  /* background-color: var(--off-white);
  border: solid 1px var(--line-grey); */
}


#filters {
  font-size: 85%;
  grid-column: 1 / 4;
  padding-right: 2em;
  border-right: 1px solid #ccc;
}

#results {
  display: flex;
  position: relative;
  padding-top: 2em;
  margin-top: 2em;
  border-top: 1px solid #ccc;
}
